# Ignore
Programación/
1. HTML-CSS/1. HTML-CSS. 11. Ejercicios float y clear/soluciones/

# Allow


# Archivos de la suite Microsoft Office
*.doc*
*.xls*
*.ppt*

# Archivos de LibreOffice y OpenOffice
*.odt
*.ods
*.odp

# Archivos de Google Docs (formatos de exportación)
*.gdoc
*.gsheet
*.gslides

# PDF Files
*.pdf*

# Temporary files
~$*

# URL files (links de Windows)
*.url