# Ignore
Programación/
1. HTML-CSS/12. Ejercicios columnas/soluciones
1. HTML-CSS/13. Ejercicios media queries/
1. HTML-CSS/13. Ejercicios media queries/soluciones
1. HTML-CSS/14. Ejercicio responsive design/
1. HTML-CSS/14. Ejercicio responsive design/solución

# Allow


# Archivos de la suite Microsoft Office
*.doc*
*.xls*
*.ppt*

# Archivos de LibreOffice y OpenOffice
*.odt
*.ods
*.odp

# Archivos de Google Docs (formatos de exportación)
*.gdoc
*.gsheet
*.gslides

# PDF Files
*.pdf*

# Photoshop Files
*.psd

# Temporary files
~$*

# URL files (links de Windows)
*.url