# Ignore
Programación/
1. HTML-CSS/14. Ejercicio 1 responsive design/documentos
1. HTML-CSS/15. Ejercicio 2 responsive design/
1. HTML-CSS/15. Ejercicio 2 responsive design/solución
Float-vs-Position.*
pruebas.*

2. CSS Avanzado/

# Allow

# Archivos de la suite Microsoft Office
*.doc*
*.xls*
*.ppt*

# Archivos de LibreOffice y OpenOffice
*.odt
*.ods
*.odp

# Archivos de Google Docs (formatos de exportación)
*.gdoc
*.gsheet
*.gslides

# PDF Files
*.pdf*

# Photoshop Files
*.psd

# Temporary files
~$*

# URL files (links de Windows)
*.url

